{% load staticfiles %}
<!DOCTYPE html>
<html>
        <head>
            <title>Agronet</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="{% static 'css/style.css' %}" >
            <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900" rel="stylesheet">
            </head>
        <body>
            <main >
            <header >
                <nav class="navigation">

                    <span class="brand">AgroNet</span>
                    <div class="contenedor">
                  <!-- Navbar content -->
                   <ul class="categorias">
                    <li class="dropdown">
                      <a href="javascript:void(0)" class="dropbtn nav">CATEGORIAS</a>
                      <div class="dropdown-content">
                          <ul class="categorias">
                            {% for cat in category %}
                        <li class="dropdown"><a href="#">{{ cat.name }}</a></li>
                            {% endfor %}
                        </ul>
                        </div>
                    </li>
                  </ul>


                  <ul class="login">
                    <li class="dropdownr" >
                      <a href="login.php" class="dropbtn">INICIA SESION</a>
                    </li>
                </ul>
                <ul class="login">
                  <li class="dropdownr" >
                    <a href="login.php" class="dropbtn">CARGAR PRODUCTO</a>
                  </li>
              </ul>

                </div>
                </nav>

            </header>
            {% block content %}

            {% endblock content %}

            <footer></footer>
        </main>
        </body>
    </html>
