{% extends 'ganagroapp/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="row panel panel-success">
    <div class="panel-heading  text-center"> <h3> Crear Anuncio </h3> </div>
    <div class="panel-body">
    <form method="POST" enctype="multipart/form-data" class="product-form">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="input-group">
            {{ form.subject.errors }}
            <label for="{{ form.product.id_for_label }}">Nombre del producto: </label>
            {{ form.product }}
        </div>
        <div class="input-group">
            <label for="{{ form.description.id_for_label }}">Descripcion del producto: </label>
            {{ form.description }}
        </div>
        <div class="input-group">
            <label for="{{ form.category.id_for_label }}">Seleccione una categoria: </label>
            {{ form.category }}

        </div>
        <div class="input-group">
            <label for="{{ form2.Image.id_for_label }}">Seleccione una imagen: </label>
            {{ form2.image }}
        </div>
        <div class="input-group">
        <button type="submit" class="btn btn-lg btn-success btn-block">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}
