{% extends 'ganagroapp/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- all products-->
<section >

    {% for product in products %}
    <div class="product">
    <img src="{% static 'img/vaca.jpg' %}" class="imgpro">
    <div class="info">
    <p>

        <h3> OFERTA: </h3> <a href="{% url 'ganagroapp:product_detail' pk=product.pk %}">{{ product.product }}</a>
        <h3> DESCRIPCION: </h3> {{ product.description }}
    </p>
    </div>

    </div>
    {% endfor %}

</section>
{% endblock content %}
