{% extends 'ganagroapp/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- all products-->
<section >


    <div class="product">
    <img src="{% static 'img/vaca.jpg' %}" class="imgpro">
    <div class="info">
    <p>
        <h3> CLIENTE: </h3>{{ product.client.user.first_name }} {{ product.client.user.last_name }}
        <h3> OFERTA: </h3> {{ product.product }}
        <h3> DESCRIPCION: </h3> {{ product.description }}
        <h3> CONTACTO: </h3>{{ product.client.phone }}
    </p>
    </div>

    </div>


</section>
{% endblock content %}
