{% extends 'ganagroapp/base.html' %}
{% load staticfiles %}


{% block content %}

<!-- all products-->
<div class="container-fluid">
<div class="row panel panel-default">
    <div class="panel-body">
        <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6" >
            <img src="  {{ product.image.url }} " class="img-responsive img-rounded">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                <h3>  {{ product.product.client.user.first_name }} {{ product.product.client.user.last_name }} </h3>
                <h3>   {{ product.product }} </h3>
                <p> {{ product.product.description }} </p>
                <h3> {{ product.product.client.phone }} </h3>

        </div>
    </div>
</div>
</div>
{% endblock content %}
