{% extends 'ganagroapp/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
<!-- all products-->
<h1> Mis ofertas </h1>

{% for product in products %}
    {% for image in images %}
        {% if image.product.pk == product.pk %}
        <div class="row panel panel-default">
            <div class="panel-body">
            <div class=" col-xs-7 col-sm-4 col-md-4 col-lg-3">
                <img src="  {{ image.image.url }} " class="img-responsive img-rounded">
            </div>
            <div class="col-xs-5 col-sm-8 col-md-8 col-lg-9">

                    <a class="btn btn-default" href="{% url 'ganagroapp:edit_product' pk=product.pk pk1=user.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <h3> <a href="{% url 'ganagroapp:product_detail' pk=product.pk %}">{{ product.product }}</a> </h3>
                    <p> DESCRIPCION:  {{ product.description }} </p>

            </div>
        </div>
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}

</div>






{% endblock content %}
