* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    }
html,body{
    overflow-x: hidden;
    }
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;

    }
p{
    color:black;
}
